body {
    overflow-x: hidden;
  
    font-family: Segoe UI, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
    scroll-margin: hidden;
    background-color: #14151b;
  }
  nav {
    position: fixed;
    width: 100%;
    z-index: 998;
  }
  nav ul {
    margin: 0;
    padding: 3px 20px;
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    background-color: #22232b;
    box-shadow: 0px -2px 10px 1px #000;
    grid-template-columns: 1fr;
    
  }
  
 
  nav ul li {
    color: #c4c4c4;
    transition: 0.3s ease;
    margin: 0 20px 0;
    cursor: pointer;
    
  }
  nav ul li a {
    display: block;
    margin-top: 20px;
    transition: 0.2s ease;
  }
  nav ul li:last-child {
    margin: 0 150px 0 20px;
  }

  nav ul li:last-child a {
    background-color: #ff4700;
    color: #fff;
    margin-top: 15px;
    padding: 8px 20px;
    border-radius: 5px;
  }
  
  nav ul li:hover a {
    color: #fff;
  }
  
  nav ul li:last-child a:hover {
    color: #b63400;
  }
  nav ul li img {
    margin: 5px 150px;
    width: 150px;
    transition: .3s ease all;;
  }
  
  header {
    background-image: url('../img/backg.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  footer {
    background-color: #14151b;
    position: absolute;
    bottom: 0;
  }

  footer,
  footer p {
    min-width: 100%;
  }

  footer p {
    height: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    padding-top: 20px;
    color: #2e2f3a;
  }

  h1,
  h2,
  h3 {
    padding: 0;
    margin: 0;
  }
  
  h1 {
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  }
  h2 {
    color: #fff;
    font-size: 2.5rem;
  }
  h3 {
    color: #ff4700;
    font-size: 2.5rem;
  }
  
  p {
    color: #fff;
  }

  a,
  a:hover,
  a:visited {
    color: #c4c4c4;
    text-decoration: none;
  }

  input[type=text] {
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-top: 30px;
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
    width: 340px;
  }

  .sa-logo {
    width: 100%;
    padding-top: 0;
    margin: 0 auto 0;
    transform: skewY(30deg) skewX(30deg);
    opacity: 0;
    transition: 0.6s ease;
  }
  
  .sa-logo-active {
    display: block;
    width: 20%;
    padding-top: 30%;
    opacity: 1;
    transform: skewY(0deg) skewX(0deg);
  }
  
  .sa-logo-up {
    padding-top: 20%;
    width: 15%;
  }
  
  .welcome-text {
    font-size: 1rem;
  }
  .welcome-text-active {
    margin-top: 15px;
    font-size: 2.3rem;
  }
  
  .welcome-btns {
   /* opacity: 0;*/
    display: table;
    margin: 0 auto;
    -webkit-transition: opacity .7s ease;
    -moz-transition: opacity .7s ease;
    -ms-transition: opacity .7s ease;
    -o-transition: opacity .7s ease;
    transition: opacity .7s ease;
  }
  .welcome-btns-active {
    opacity: 1;
  }

  .arrow {
    font-size: 3rem;
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  
    display: block;
    /*opacity: 0;*/
    text-align: center;
    margin-top: 10%;
    transition: 1.5s ease;
    animation: arrow 1.2s infinite;
  }
  
  .arrow-active {
    opacity: 1;
  }
  
  .welcome-content {
    opacity: 0;
    -webkit-transition: opacity .7s ease;
    -moz-transition: opacity .7s ease;
    -ms-transition: opacity .7s ease;
    -o-transition: opacity .7s ease;
    transition: opacity .7s ease;
  }
  .welcome-content-active {
    opacity: 1;
  }

  @keyframes arrow {
    0% {padding-top: 0;}
    50% {padding-top: 15px;}
    100% {padding-top: 0;}
  }
  
  .wrapper {
    position: absolute;
    display: grid;
    grid-template-columns: 85% 15%;
    background-color: #22232b;
    width: 70%;
    height: 500px;
    margin: 0 15%;
    padding-bottom: 500px;
  }

  .wrapper-content {
    margin: 80px 40px 0 10%;
  }
  .wrapper p {
    margin: 20px 40px 0 0;
    max-width: 700px;
  }
  .wrapper a,
  header div a {
    display: inline-block;
    padding: 10px 30px;
    margin: 20px 10px 60px 0;
    min-width: 100px;
    border: 2px solid #b63400;
    background-color: #ff4700;
    color: #b63400;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease;
  }

  .wrapper a:hover,
  header div a:hover {
    color: #fff;
    border: 2px solid #fff;
  }
  .wrapper-sidebar {
    margin: 60px 5% 0 0;
  }
  .info-card {
    border: 3px solid #18191f;
    background-color: #1f2029;
    margin-top: 20px;
    width: 150px;
    height: 130px;
    text-align: center;
  }
  .info-card p {
    margin: 20px auto 0;
    max-width: 80%;
    font-size: 1rem;
  }
